{% extends "base.html" %}

{% block title %}Welcome html - Siema Piotras{% endblock %}

{% block content %}
    <h1>Welcome to the Meeting Planner! Piotras Edit</h1>
    <p>
        This is the demo application for the course
        <em>Django: Getting Started</em>
        on <a href="https://www.pluralsight.com">
        Pluralsight</a>.
    </p>
    <p>
    testing incoming
    I am|{{ name }}| and i am |{{ age }}| years old.
        I have to go for {{ num_meetings }} meetings in this mounth"
    </p>


    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms list</a>
{% endblock %}